@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat", serif;
  --color-faded-secondary-color-1: #b9eaa8;
  --color-faded-secondary-text-color: #737373;
  --color-faded-secondary-text-color: #737373;
  --color-primary-color: #23a6f0;
}
